body{
    background-color: rgb(137, 43, 226);
}

div{
    background-color: rgba(66, 224, 227, 0.729);
    height: 250px;
    border-radius: 20px;
}
#title{
    color: white;
    margin-left: 300px;
    padding-top: 50px;
}
#my-photo{
    width: 200px;
    height: 200px;
    padding: 25px;
    border-radius: 50px;
    
}
#first-p{
    color: black;
    margin-left: 300px;
    padding-top: 15px;
    padding-right: 60px;
    text-align: justify;
   
}
#facebook{
    margin-left: 50px;
    padding-top: 20px;


}


